.codebox {
	background-color: #FFFFFF;
	border: 1px solid #C9D2D8;
	font-size: 1em;
	margin: 1em 0 1.2em 0;
	word-wrap: normal;
}
.codebox code {
	color: #2E8B57;
}
.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	padding: 5px 3px;
	font: 1.2em Monaco, "Andale Mono","Courier New", Courier, monospace;
	line-height: 1.3em;
}
.codebox p {
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 0;
	padding: 3px;
	font-size: 0.8em !important;
	font-weight: bold;
	display: block;
}
.content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}
